## **Name:** Affan Zulfiqar

## Lab Tasks
### Task 1: Python Basics Review

In [ ]:
# Defining two variables
num = 10
message = "Hello, AI Students"

# if-else statement
if num > 5:
    print(f"{num} is greater than 5.")
else:
    print(f"{num} is less than or equal to 5.")

# list
my_list = [1, 2, 3, 4, 5]
print(my_list[:3])

# multiply numbers
def multiply(x, y):
    result = x * y
    print(f"The result of {x} * {y} is {result}")
multiply(4, 5)

10 is greater than 5.
[1, 2, 3]
The result of 4 * 5 is 20

### Task 2: NumPy and Pandas

In [ ]:
import numpy as np
import pandas as pd

# mean using numpy
array = np.arange(1, 11)
mean = np.mean(array)
print("NumPy array:", array)
print("Mean of the array:", mean)

# Pandas DataFrame using a dictionary
data = {
    'Name': ['Affan', 'Raja', 'Mohiz'],
    'Score': [85, 90, 95]
}
df = pd.DataFrame(data)

print("First two rows of the DataFrame:")
print(df.head(2))

NumPy array: [ 1  2  3  4  5  6  7  8  9 10]
Mean of the array: 5.5
First two rows of the DataFrame:
    Name  Score
0  Affan     85
1   Raja     90

### Homework Task 1: Python Functions and Loops

In [ ]:
def calculate_average(num1, num2, num3):
    return (num1 + num2 + num3) / 3

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
average = calculate_average(num1, num2, num3)
print(f"The average of {num1}, {num2}, and {num3} is {average:.2f}")

for num in range(1, 11):
    if num % 2 == 0:
        print(num)

Enter the first number: 34
Enter the second number: 23
Enter the third number: 24
The average of 34.0, 23.0, and 24.0 is 27.00
2
4
6
8
10

### Homework Task 2: NumPy and Data Analysis

In [ ]:
import numpy as np
import pandas as pd
arr = np.random.randint(1, 101, 10)
std_dev = np.std(arr)
print("Array:", arr)
print("Standard Deviation:", std_dev)

df = pd.read_csv('email.csv')
print("Column Names:", df.columns)
print("\nSummary Statistics:")
print(df.describe())

Array: [45  2 65 61 57 99  6 21  9 23]
Standard Deviation: 30.095846889562686
Column Names: Index(['Category', 'Message'], dtype='object')

Summary Statistics:
       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

# Additional Tasks:

### Task 1

In [ ]:
# Task 1: Part 1
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
full_name = f"{first_name} {last_name}"
print(f"Welcome, {full_name}!")

# Task 1: Part 2
cities = ['Haripur', 'Larkana', 'Abbottabad', 'Mansehra', 'Karachi']
for city in cities:
    print(city.upper())

Enter your first name: Affan
Enter your last name: Zulfiqar
Welcome, Affan Zulfiqar!
HARIPUR
LARKANA
ABBOTTABAD
MANSEHRA
KARACHI

### Task 2

In [ ]:
# Part 1
def find_max(numbers):
    return max(numbers)

# Part 2
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Part 3
for num in range(1, 21):
    if is_prime(num):
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

1 is not a prime number.
2 is a prime number.
3 is a prime number.
4 is not a prime number.
5 is a prime number.
6 is not a prime number.
7 is a prime number.
8 is not a prime number.
9 is not a prime number.
10 is not a prime number.
11 is a prime number.
12 is not a prime number.
13 is a prime number.
14 is not a prime number.
15 is not a prime number.
16 is not a prime number.
17 is a prime number.
18 is not a prime number.
19 is a prime number.
20 is not a prime number.

### Task 3

In [ ]:
import numpy as np

# Part 1
arr = np.random.randint(1, 51, 10)

# Part 2
arr_sum = np.sum(arr)
arr_mean = np.mean(arr)
arr_std = np.std(arr)

print("Array:", arr)
print("Sum:", arr_sum)
print("Mean:", arr_mean)
print("Standard Deviation:", arr_std)

# Part 3
arr_sorted = np.sort(arr)
print("Sorted Array:", arr_sorted)

Array: [20 20  8 24 25  5 24  5 43 12]
Sum: 186
Mean: 18.6
Standard Deviation: 11.065260954898442
Sorted Array: [ 5  5  8 12 20 20 24 24 25 43]

### Task 4

In [ ]:
import pandas as pd

# Part 1 and 2
data = {
    'Name': ['Ali', 'Tanveer', 'Zaryab', 'Affan', 'Rafay'],
    'Age': [20, 22, 21, 23, 19],
    'Score': [85, 65, 90, 72, 68]
}
df = pd.DataFrame(data)
# Part 3
average_score = df['Score'].mean()
print(f"Average Score: {average_score}")
passed_students = df[df['Score'] >= 70]
# Part 4
print("Students who passed:")
print(passed_students['Name'])

Average Score: 76.0
Students who passed:
0       Ali
2    Zaryab
3     Affan
Name: Name, dtype: object

### Task 5

In [ ]:
def fibonacci(n):
    fib_seq = [0, 1]
    for i in range(2, n):
        next_num = fib_seq[i-1] + fib_seq[i-2]
        fib_seq.append(next_num)
    return fib_seq

fib_10 = fibonacci(10)
print(fib_10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]